<h1><%= @product.name %></h1>
<p>
  <%= number_to_currency @product.price %>
</p>
<p>
  <%= image_tag @product.image, height: "70" %>
</p>

<p>
  <%= link_to 'Add to cart', add_cart_path, class: 'btn btn-primary', method: :post %>
</p>

<p>
  <%= link_to  'Edit', edit_product_path(@product) %> | <%= link_to 'Products', products_path %>
</p>
